@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@if (_isReady)
{
    <MudLayout>
        @Body
    </MudLayout>
}
else
{
    <div class="loading-screen">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}

@code {
    private bool _isReady = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await Task.Delay(100);
                _isReady = true;
                StateHasChanged();
            }
            catch
            {
                _isReady = true;
                StateHasChanged();
            }
        }
    }
}